@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext);
body{
	font: 14px "Open Sans", sans-serif;
	text-align: left;
}
.white{
	color:#fff;
}
.bgwhite{
	background-color:#fff;
}
.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}
.navbar{
	min-height: 100px;
}
.header{
	height: 1000px;
	background: #888888 url("../images/first.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
	z-index: 1;
	background-size: cover;
}
.title{
	font-family: "Roboto Condensed", sans-serif;
    padding-top: 10px;
    margin-bottom: 0;
    line-height: 1.1em;
    margin: 0;
}
h1, h2 {
  font-size: 4.64286em;
  font-weight: bold; }
@media all and (max-width: 1180px) {
    h1, h2 {font-size: 4.57143em; } }
  @media all and (max-width: 940px) {
    h1, h2 {font-size: 4em; } }
  @media all and (max-width: 780px) {
    h1, h2 {font-size: 3.42857em; } }
  @media all and (max-width: 480px) {
    h1, h2 {font-size: 2.85714em; } }
h2 {
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}
.when .icon-holder, .where .icon-holder {
    background-color: #fdd919;
    width: 64px;
    padding: 14px 0;
    text-align: center;
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 10px;
}
.when strong, .where strong {
    font-weight: bold;
    color: #fdd919;
    text-transform: uppercase;
}
.when div, .where div {font-family: "Roboto Condensed", sans-serif;}
.when, .where, .register-now {
  font-size: 1.28571em;
  font-weight: 300;
  margin-top: 15px; 
}
@media all and (max-width: 940px) {
	.when, .where, .register-now {
      position: static;
      margin-top: 50px; } 
}
.when span, .where span, .register-now span {font-size: 1.33333em; }

.when p, .where p {
    margin-bottom: 0;
    line-height: 1.2em;
}
.register-now {
  right: 0;
  text-align: right;
  float: right; }
  @media all and (max-width: 1180px) {
    .register-now {
      text-align: left;
      float: left; } }
  .register-now a.button {
    display: inline-block;
    font-size: 1.5em; }
    @media all and (max-width: 480px) {
      .register-now a.button {
        text-align: center;
        font-size: 1.33333em;
        padding: 0 26px;
        line-height: 50px; } }
.header a {
    text-decoration: none;
    color: white;
}
.button {
    background: #fdd919;
    border: 3px solid #fdd919;
    padding: 0 46px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}
.topics {
  margin-top: -400px;
  position: relative;
  z-index: 10; }
  @media all and (max-width: 940px) {
    .topics {
      margin-top: 0; } }
  .topics .container {
    background: white;
    padding: 60px; }
    .topics .container div {
      width: 33.333%;
      padding-right: 100px;
      margin-top: 30px;
      float: left; }
      @media all and (max-width: 780px) {
        .topics .container div {
          width: 100%;
          padding-right: 0; } }
      .topics .container div h4, .topics .container div .fa {
        color: #fdd919;
        margin-bottom: 20px; }
        @media all and (max-width: 780px) {
          .topics .container div h4, .topics .container div .fa {
            margin-bottom: 10px; } }
      .topics .container div h4 {
        font-size: 1.28571em;
        font-weight: 300; }
      .topics .container div p {
        font-size: 1em; }
  .topics p {
    color: #888888;
    font-size: 1.28571em; }

.tabs li {
    list-style: none;
    white-space: nowrap;
}
.social .container {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #fdd919;
    padding-left: 55px;
}

.social {
    background-color: #fdd919;
    position: relative;
    z-index: 5;
}
.social .subtitle {
    margin-bottom: 20px;
}
.subtitle {
  font-size: 1.85714em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  @media all and (max-width: 1180px) {
    .subtitle {
      font-size: 1.78571em; } }
  @media all and (max-width: 940px) {
    .subtitle {
      font-size: 1.71429em; } }
  @media all and (max-width: 780px) {
    .subtitle {
      font-size: 1.57143em; } }
  @media all and (max-width: 480px) {
    .subtitle {
      font-size: 1.5em; } }

.social input {
    padding: 10px 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}
.social input, .social button {
    border: none;
}
.social input, .social button, .social a {
    float: left;
    height: 60px;
    line-height: 60px;
}
.social button, .social a {
    margin-right: 1px;
    width: 60px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 24px;
}
.social button:hover, .social a:hover{
  background-color: #d5d5d5;
}
.social button {
    cursor: pointer;
}
.social input, .social button {
    border: none;
}
.social input, .social button, .social a {
    float: left;
    height: 60px;
    line-height: 60px;
}
.space{
	background: white;
	position: relative;
    z-index: 5;
    margin-top: -560px;
	padding-top: 500px;
}
.info {
	min-height: 600px;
}

.location h2 {
  margin-bottom: 0; }
.location h2, .location .subtitle {
  padding: 0 60px; }

.location {
  padding-top: 124px;
  position: relative;
  background: black url("../images/second.jpg") no-repeat 50% 0 fixed;
  background-size: cover; }
  .location .container {
    z-index: 10;
    position: relative; }
  .location h2, .location .subtitle {
    color: white; }
   .info {
  background-color: white;
  padding: 60px;
  margin-top: 40px;
  z-index: 2; }
  .info p:last-child {
    margin-bottom: 0; }

 .form input, .form textarea, .form select {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  border: 3px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 10px;
  height: 52px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: black;
  transition: all 0.2s ease-in-out; }
  .form input:focus, .form input:hover, .form textarea:focus, .form textarea:hover, .form select:focus, .form select:hover {
    background-color: white; }
.form button {
  font-size: 1.71429em;
  color: white;
  background-color: #fdd919;
  border: 3px solid #fdd919;
  width: 100%;
  height: 81px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .form button:hover {
    background: white;
    color: black; }

.sponsors .container {
  position: relative;
  background-color: #fff; }
.sponsors .subtitle {
  margin-bottom: 90px; }
  .sponsors .subtitle a {
    font-weight: bold;
    color: #fdd919;
    border-bottom: 2px solid #fad9a3;
    text-decoration: none;
    display: inline-block;
    line-height: 1em; }
    .sponsors .subtitle a:hover {
      border-bottom: 2px solid #fdd919; }

.footer {
  font-family: "Roboto Condensed", sans-serif; }
  .footer .container {
    padding: 20px 0; }
  .footer p {
    font-size: 1.28571em;
    color: #010101;
    font-weight: 300; }
  .footer a {
    color: #fdd919;
    text-decoration: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999; }

.back {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99; }
  .back .container {
    position: relative;
    max-width: 1180px; }
  .back a {
    width: 50px;
    height: 50px;
    background: #fdd919;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.2s ease-in-out; }
    .back a:hover {
      bottom: -6px; }

/* 8. Schedule */
.schedule{
	background-color: #fff;
}
.speakers, .schedule, .why, .registration, .sponsors {
  margin-bottom: 60px; }
  .speakers h2, .speakers .subtitle, .schedule h2, .schedule .subtitle {
  padding: 0 60px;
  margin-bottom: 0; }
.speakers .subtitle, .schedule .subtitle {
  margin-bottom: 60px; }
.schedule ul {
  list-style-type: none; }
  .schedule ul li {
    float: left;
    background-color: #f0f0f0;
    width: 33.333%;
    max-width: 290px; }
    .schedule ul li a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.71429em;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 50px;
      display: block;
      padding: 0 30px; }
      @media all and (max-width: 780px) {
        .schedule ul li a {
          font-size: 1.28571em;
          padding: 0 20px;
          line-height: 40px; } }
.schedule .day {
  padding: 46px 20px;
  border-top: none; 
  background-color: #fff;
}
.border {
    border: 3px solid #f0f0f0;
    background-color: #fff;
    border-top: none;
}

/* jQuery Tabs UI styles overwrite */
.ui-tabs {
  padding: 0; }
  .ui-tabs .ui-tabs-nav {
    padding: 0;
    margin-bottom: 10px; }
    .ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li.ui-tabs-active {
      padding: 0;
      margin: 0; }
    .ui-tabs .ui-tabs-nav li {
      transition: all 0.2s ease-in-out; }
      .ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li.ui-state-active.ui-state-hover {
        background-color: #fdd919;
        color: white; }
        .ui-tabs .ui-tabs-nav li.ui-state-active a, .ui-tabs .ui-tabs-nav li.ui-state-active.ui-state-hover a {
          color: white; }
      .ui-tabs .ui-tabs-nav li.ui-state-hover {
        background-color: #fdedd3;
        color: white; }

.event.extend .event-time span, .event.extended .event-time span {
  width: 31px;
  height: 31px;
  top: 7px;
  right: -16px;
  line-height: 28px;
  cursor: pointer; }
.event:last-child .event-info div {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }
.event .event-time, .event .event-info {
  float: left; }
.event .event-time {
  width: 25.57319%;
  text-align: right;
  padding-right: 33px;
  position: relative; }
  .event .event-time span {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #fdd919;
    position: absolute;
    top: 17px;
    right: -6px;
    color: white;
    text-align: center; }
.event .event-time, .event .event-info h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.71429em;
  font-weight: 300;
  color: #4e4d4d;
  line-height: 1.82em; }
  @media all and (max-width: 780px) {
    .event .event-time, .event .event-info h4 {
      font-size: 1.28571em; } }
.event .event-info {
  width: 74.42681%;
  padding-left: 57px;
  border-left: 1px solid #f0f0f0; }
  .event .event-info h4 {
    margin-bottom: 0; }
    @media all and (max-width: 780px) {
      .event .event-info h4 {
        font-size: 1.57143em; } }
    .event .event-info h4 a {
      text-decoration: none;
      color: #fdd919; }
  .event .event-info div {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .event .event-info img {
    float: right;
    padding: 10px; }

.speaker {
  text-transform: uppercase;
  font-size: 1.28571em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 10px; }
  .speaker strong {
    text-transform: none;
    font-size: 1.33333em;
    font-weight: bold; }
    @media all and (max-width: 780px) {
      .speaker strong {
        font-size: 1.22222em; } }

.why {
  background: black url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
  background-size: cover; }
  .why .container {
    padding: 48px 0; }

.owl-carousel{
  border: 3px solid #f0f0f0;
  padding: 20px;
}
.item img{
  padding:25px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    position: relative;
    margin-top: 50%;
}

.dateul li {
    padding: 10px;
    color: #4e4d4d;
    font-size: 16px;
    margin: 5px;
    font-weight: 700;
    background-color: #fdd919;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 700;
}
